@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

*{
  box-sizing: border-box;
}
body {
  background-color:#22254b;
  color:rgb(243, 240, 240);
  margin: 0;
  font-family: "Poppins", sans-serif;

}

.root{
  display: flex;
  flex-direction: column;
}

.nav{
  background-color: #373b69;
  background-image: url(bg.jpg);
  background-size: cover;
  padding: 1rem;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #00000083;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  margin-left: 2rem;
}

.search {
  border: 2px solid #efeff1;
  background-color: transparent;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: 0;
}

::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

@media only screen and (max-width:680px){
  .nav{
    flex-direction: column;
    align-items: center;
  }
  .search {
    width: 100%;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  h1{
    margin-top: 3rem;
    width: 100%;
    margin-left: -0.5rem;
    font-size: 2rem;
  }
  
}

.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
  width: 260px;
  margin: 1rem;
  overflow: hidden;
  
  position: relative;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}

.movie-info h3 {
  margin: 0;
}


.movie-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blanchedalmond;
  color: #22254b;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
  overflow: auto;
  max-height: 100%;

}

.movie:hover .movie-overview {
  transform: translateY(0%);
}


.tag {
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(46, 170, 46);
}
.tag.orange {
  color: orange
}
.tag.red {
  color: red
}

.nav{
  background: #3990ce;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4492c9ce 0%, #42c2b5 52%, #373b69 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4492c9ce 0%, #42c2b5 52%, #373b69 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4492c9ce 0%, #42c2b5 52%, #373b69 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4492c9ce', endColorstr='#373b69', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-size: 350% 350%;
  animation: waveColors 8s ease infinite;
  /* End Wave Color */
  
  width: 100%;
  text-align: center;
  
}

@-webkit-keyframes waveColors {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes waveColors {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

.footer {
  background: #111;
  text-align:center;
  padding: 2.5em 0;
  font-size: 1.25rem;
  color: rgba(245, 245, 245, 0.932);

}

.footer a{
  color: inherit;
  text-decoration: none;

}

.footer__link {
  font-weight: 900;
}

.footer__link:hover, .social-list__link:hover{
  opacity:.7;
}

.footer__link:hover{
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social-list__item{
  margin: 0 .5em;
}

