@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

*{
  box-sizing: border-box;
}
body {
  background-color:#22254b;
  color:rgb(243, 240, 240);
  margin: 0;
  font-family: "Poppins", sans-serif;

}

.root{
  display: flex;
  flex-direction: column;
}

header{
  background-color: #373b69;
  background-image: url(bg.jpg);
  background-size: cover;
  padding: 1rem;
  justify-content: flex-end; 
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: 'Sansita Swashed', cursive;
  margin-left: 2rem;
}

.search {
  border: 2px solid #22254b;
  background-color: transparent;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1.5rem;
}

::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

@media only screen and (max-width:680px){
  .search {
    width: 70%;
    font-size: 0.7rem;
    margin: 2.5rem;
     margin-top: 4.5rem;
    font-size: 1.3rem;
  }
  header h1{
    width: 30%;
  }
  
}

.movie{
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
  width: 260px;
  margin: 1rem;
  overflow: hidden;
  
  position: relative;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}

.movie-info h3 {
  margin: 0;
}


.movie-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blanchedalmond;
  color: #22254b;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
  overflow: auto;
  max-height: 100%;

}

.movie:hover .movie-overview {
  transform: translateY(0%);
}


.tag {
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(46, 170, 46);
}
.tag.orange {
  color: orange
}
.tag.red {
  color: red
}
